body{
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: whitesmoke;
  background: black;
}

body, html, main {
	/* important */
	height: 100%;
}

header{
  top:0px;
  left:0px;

  width: 100%;
  position: fixed;
  overflow: auto;
  padding-top: 10px;
  background: grey;
  height: 30px;
  z-index: 100;
}

header :nth-child(1) {
  float: left;
  padding:1px 0px 0px 5px ;
}

header a {
  float: right;
  list-style-type: none;
  display:block-inline;
}

main{
  min-width:1200px;
  width:100%;
  position:absolute;
  left: 0px;
}

.sect1BG{
  top: 0px;
  width:100%;
  left:0px;
  height: 130vh;
  min-height: 500px;

  position: relative;
}


.sect1Content{
  position: absolute;
  top:50%;
  width: 100%;
  margin: 0 auto;
}

.sect1Content div:nth-child(1){
  float:left;
  margin-top: -100px;
  background: rgb(156, 141, 141);
  width: 500px;
  height: auto;
  
  border-radius: 5px;
  padding: 10px;
  margin-left: 100px;
}

.sect1Content #signUpBlock{
  float:right;
  background: rgb(156, 141, 141);
  border-radius: 5px;
  width: 200px;
  padding: 20px;
  margin-right:100px;
  margin-top: -150px;
  height:300px;
}

#signUpBlock h2{
  margin: 20px auto;
  width: 150px;
}
#signUpBlock ul{
  list-style: none; 
  width: 150px;
  margin: 20px auto;
  padding-left:0px;
}

#signUpBlock ul li input{
  padding: 5px 5px;
  margin: 5px 0px;
  border-radius: 5px;
  width: 140px;  
  
}

.sectionWHedgeTopedgeBottom{
  position: relative;
  background: whitesmoke;
  height: 100vh;
  min-height: 500px;
  color: black;
  width:100%;
  transform: skewy(3deg);
  z-index: 2;
  margin: -175px 0;
}


.centerContent div:first-child{
  float:left;
  height: 300px;
  margin-top: -150px;
  margin-left: 100px;
  z-index: 1;

  max-width: 500px;
}

.centerContent div:last-child{
  float:right;
  margin-right:100px;  
  z-index: 1;
  font-size: 2em;
  height: 300px;
  margin-top: -200px;

  max-width: 500px;
  
}

.centerContent {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  height:1px;
  width: 100%;
  transform: skewy(-3deg);

}

.sect3BG{


}

.sect3BG div{

  height: 200px;
  width: 500px;


  background: rgba(134, 145, 155, 0.5);
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  transform: translate3d(400px, 300px, 0px);

}




.footer{
  bottom:0px;
  left:0px;
  width: 100%;
  overflow: none;
  color:rgb(14, 201, 108);
  height: 60px;
  position:relative;
}

.footer :nth-child(1) {
  float: left;
  margin-top:0px;
  padding:1px 0px 0px 10px ;
}

.footer a {
  color:rgb(14, 201, 108);
  text-decoration: none;
  float: right;
  list-style-type: none;
  margin: 0 20px;
  display:block-inline;
}

.cd-fixed-bg {
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-position: center center;
  
}
 
.cd-fixed-bg.cd-bg-1 {
  background-image: url("../images/eugene-lim-263830.jpg");
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("../images/amanda-sandlin-10508.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("../images/patrick-hendry-221863.jpg");
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("../images/paul-morris-212014.jpg");
}
 
.cd-scrolling-bg {
  min-height: 100%;
  position: relative;
  width: 100%;
  text-align: center;

}